[Unit]
Description=Attested OpenViking NGINX mTLS ingress
BindsTo=argus-helper.service argus-authz.service
After=argus-helper.service argus-authz.service

[Service]
Type=simple
User=root
RuntimeDirectory=@RUN_NAME@-nginx
RuntimeDirectoryMode=0755
ExecStartPre=@BIN@/argus-workload -action check -registration @TARGET@
ExecStart=@BIN@/nginx-hook.sh exec
ExecReload=@BIN@/nginx-hook.sh reload
TimeoutStopSec=2s
KillSignal=SIGTERM
KillMode=control-group
