[Unit]
Description=NGINX local SPIFFE client authorization

[Service]
Type=simple
User=root
Group=argus-nginx
RuntimeDirectory=@RUN_NAME@-authz
RuntimeDirectoryMode=0750
ExecStart=@BIN@/spiffe-authz -socket @AUTHZ_SOCKET@ @CLIENT_ID_ARGS@
Restart=on-failure
RestartSec=2
TimeoutStopSec=5
NoNewPrivileges=yes
